@tailwind base;
@tailwind components;
@tailwind utilities;

.__bg-gradient-main {
  background: rgb(114, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(114, 9, 121, 1) 35%,
    rgba(235, 0, 255, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
